.square{
    border: none;
    border-radius: 5px;
    gap: 5px
}

.square .value{
    background-color: rgba(8, 9, 9, 0.879);
    color: white;
  
}

.square:focus{
    border: 5px;
    border-radius: 5px;
    background-color: rgb(179, 233, 92);
    
}

.white-square{
    background-color: var(--white);
}

.yellow-square{
    background-color: var(--yellow);
}

.red-square{
    background-color: var(--red);
}

.green-square{
    background-color: var(--green);
}

.blue-square{
    background-color: var(--blue);
}

.top-square{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-square .value{
    width: 100%;
    display: flex;
    justify-content: center;
}

.left-square{
    display: flex;
    
    align-items: center;
    
}

.left-square .value{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 55px;
}

.right-square{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.right-square .value{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 55px;
}

.bot-square{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bot-square .value{
    width: 100%;
    display: flex;
    justify-content: center;
}


 .square img{
    width: 60px;
    height: 60px;

}