.chip{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.chip:hover{
    animation: jump 1s;
}

@keyframes jump {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}
}