

.table{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 200px) ;
}

.start-cube-1{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}

.start-cube-2{
    display: grid;
    grid-column: 3;
    grid-row: 2;
}

.roll-button{
    background-color: blue;
    color: rgb(246, 251, 255);
    border-radius: 10px;
    border: none;
    height: 150px;
    grid-column: 2 / span 2;
    grid-row: 3;
    
}