.header{

    font-size: larger;
}

.container{
    margin: auto;
    display: flex;
    gap: 15px;
}

.rules{
    background-color: rgba(233, 189, 13, 0.307);
    border-radius: 5px;
    padding: 10px 30px;
    min-width: 200px;
}

.warning{
    font-size: 10px;
    overflow: hidden; 
    white-space: nowrap;
    animation: warning 10s linear infinite
}

.warning:hover {
    animation-play-state: paused;
}
@keyframes warning {
    from { text-indent: 100%; }
    to { text-indent: -100%; }
}

.table{
    font-size: 30px;
    gap: 5px;
    display: grid;
    grid-template-columns: 180px repeat(2, 210px) 180px;
    grid-template-rows: repeat(4, 180px);
    background-color: rgb(27, 27, 63);
    border-radius: 10px;
    border: 10px solid rgb(250, 168, 14);
}

.start-square{
    grid-row: 1;
    grid-column: 1;
}

.t-r-square{
    grid-row: 1;
    grid-column: 4;
}

.bonus-square{
    grid-row: 4;
    grid-column: 4;
}

.b-l-square{
    grid-row: 4;
    grid-column: 1;
}

.center-field{
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;

    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cubes{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.animate img{
    animation: dice-in-field 1.5s 1;
  }
  @keyframes  dice-in-field{
    0% {
        transform: rotate(0deg) scale3d(1.5, 1.5, 1.5);
        
    }
    50%{
        transform: rotate(180deg) scale3d(0.7, 0.7, 0.7)
    }
    900%{
        transform: rotate(270deg) scale3d(0.9, 0.9, 0.9)
    }
    100% {
        transform: rotate(360deg) scale3d(1, 1, 1);
    
    }
  }
  

.roll-button{
    background-color: blue;
    color: rgb(246, 251, 255);
    border-radius: 10px;
    border: none;
    height: 120px;
    width: 350px;
}
.roll-button:active {
  transform: scale(0.96);
  
}
.roll-button:focus{
    animation-play-state: dice-in-fiel running;
}



.row-square{
    gap: 1px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.column-square{
    gap: 1px;
    display: grid;
    grid-template-rows: repeat(4, 25%);
}

.top-row{
    grid-column: 2/ span 2;
    grid-row: 1;
}

.bot-row{
    grid-column: 2/ span 2;
    grid-row: 4;
}

.l-column{
    grid-row: 2/ span 2;
    grid-column: 1;
}

.r-column{
    grid-row: 2/ span 2;
    columns: 4;
}

.table .div{
    background-color: var(--red);
}